body {
    height: 100%;
    margin: 0;
}

.fullscreen-text {
    height: 40vh; /* Mengatur tinggi elemen teks menjadi 100% tinggi viewport */
    font-size: 10vw;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

i {
  display: grid;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

